DownloadUrl=https://aka.ms/vs/16/release/installer
productSemanticVersion=16.7.7+30621.155
autoSelfUpdateMinVersion=2.7.3068.929
LicenseUrl=https://go.microsoft.com/fwlink/?LinkID=2086016
PrivacyUrl=https://go.microsoft.com/fwlink/?LinkID=660900
KB2919355Url=https://go.microsoft.com/fwlink/?LinkId=403643
Win8OSNotSupportedUrl=https://go.microsoft.com/fwlink/?linkid=843932
OSNotSupportedUrl=https://go.microsoft.com/fwlink/?linkid=840937
DotNetNotSupportedUrl=https://go.microsoft.com/fwlink/?linkid=840938
LayoutHelpUrl=https://go.microsoft.com/fwlink/?linkid=849620
MajorVersion=16.0
IsFixed=false
